<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WbAuthenticationSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WbAuthenticationSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://vm-sqa-temig01.test.turbine.com/CLS/WbAuthentication.asmx"
                binding="basicHttpBinding" bindingConfiguration="WbAuthenticationSoap"
                contract="WbAuthenticationSoap" name="WbAuthenticationSoap" />
            <endpoint address="http://vm-sqa-temig01.test.turbine.com/CLS/WbAuthentication.asmx"
                binding="customBinding" bindingConfiguration="WbAuthenticationSoap12"
                contract="WbAuthenticationSoap" name="WbAuthenticationSoap12" />
        </client>
    </system.serviceModel>
</configuration>